@model QLTiemNet.Models.Computer

@{
    ViewBag.Title = "Details";
    ViewBag.Page = "Detail Computer: " + Model.Id;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    <i style="color:#337ab7" class="fa fa-chevron-circle-left"></i> @Html.ActionLink("Back to List", "Index") |
    <i style="color:#337ab7" class="fa fa-pencil-square"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
<div class="row">
    <div class="col-md-8">
        <div>
            <h4>Computer</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeStart)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeStart)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeEnd)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeEnd)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ComputerDetail.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ComputerDetail.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.User.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Name)
                </dd>

            </dl>
        </div>
    </div>
</div>
