<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- MetisMenu CSS -->
    <link href="~/LibaryTheme/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/LibaryTheme/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/LibaryTheme/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/LibaryTheme/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="~/Scripts/angular.js"></script>
    <script src="~/HandleScripts/Service/Angular.Service.js"></script>
    <script src="~/HandleScripts/Service/LoginAdmin.service.js"></script>
    <script src="~/HandleScripts/LoginAdmin.controller.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>
</head>
<body ng-app="myApp">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <a href="#">
                    @ViewBag.NameUser <i class="fa fa-user fa-fw"></i> 
                </a>
                <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard fa-fw"></i>Dashboard </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Status")"><i class="fa fa-dashboard fa-fw"></i>Status </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Users")"><i class="fa fa-dashboard fa-fw"></i>Users </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "ComputerDetails")"><i class="fa fa-dashboard fa-fw"></i>ComputerDetails </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Computers")"><i class="fa fa-dashboard fa-fw"></i>Computers </a>
                        </li>
                        <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@ViewBag.Page</h1>
                </div>
                <div class="container">
                    @RenderBody()
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/LibaryTheme/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/LibaryTheme/vendor/raphael/raphael.min.js"></script>
    <script src="~/LibaryTheme/vendor/morrisjs/morris.min.js"></script>
    <script src="~/LibaryTheme/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/LibaryTheme/dist/js/sb-admin-2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
