@model QLTiemNet.Models.User

@{
    ViewBag.Title = "Details";
    ViewBag.Page = " Detail User: " + Model.Id;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<p>
    <i style="color:#337ab7" class="fa fa-chevron-circle-left"></i> @Html.ActionLink("Back to List", "Index") |
    <i style="color:#337ab7" class="fa fa-pencil-square"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
</p>
<div class="row">
    <div class="col-md-8">
        <div>
            <h4>User</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeRemaining)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeRemaining)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Role)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Role)
                </dd>

            </dl>
        </div>
    </div>
</div>


