@model IEnumerable<QLTiemNet.Models.Bill>

@{
    ViewBag.Title = "Index";
    ViewBag.Page = "Bill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Computer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Computer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
    }

        </table>
    </div>
</div>
